/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red{
    color: #e35e6b;
}

.v-middle{
vertical-align: middle;
}

.input-invalido{
    border-left: 5px solid #a94442 !important
}

.input-valido{
    border-left: 5px solid #42A948 !important
}

.required::after {
    content: " * ";
    font-size: 1.2em;
    color: #dc3545 !important;
}