<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form [formGroup]="formCreate">
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome" name="name" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Preço (R$)"
        formControlName="preco"
        name="price"
      />
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    (click)="createProduct()"
    color="primary"
    class="botao"
  >
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()" color="warn" class="botao">
    Cancelar
  </button>
</mat-card>
