.header{
    display: flex;
    align-items: center;
    height: 100px;
}

.header a{
display: flex;
align-items: center;
text-decoration: none;
}

.heade .logo{
    max-height: 32px;
}

img{
    height: 60px;
}

.heade .title-group{
    padding-left: 25px;

}

.header .title-group i{
    padding-right: 5px;
}

.title-group > a{
    color: white;
}